*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    background-color: gray;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 2rem;
}

.heading{
    margin-top: 2rem;
    text-align: center;
}

#main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}

input{
    width: 40vw;
    padding: 1rem;
    height: 2rem;
}

#btn{
    height: 2rem;
    padding: 0rem 1rem;
    border: 2px solid black;
}

#user{
    display: flex;
    width: 50vw;
    justify-content: space-evenly;
    align-items: center;
}

.follow{
    margin-top: 1rem;
    display: block;
    font-weight: 700;
}

.img{
    margin-top: 2rem;
    height: 25vh;
    width: 20vw;
    display: none;
}

.img[src]{
    display: block;
}


@media only screen and (max-width: 600px) {
    .img {
        height: 20vh;
        width: 40vw;
    }
    #user{
        display: flex;
        flex-direction: column;
        width: 50vw;
        justify-content: space-evenly;
        align-items: center;
    }
  }

#err{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 2rem;
    color: red;
}